* {
    margin: 0;
    padding: 0;
	font-family: English;
}

@font-face {
    font-family: 'English';
    src: url("../css/font.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #FAFAFA;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#box {
    /* background-color: red; */
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding-top: 5%;
}

.meBox {
    float: left;
    width: 20rem;
    height: 25rem;
    background-color: white;
    margin-top: 100px;
    margin-left: 10%;
    border-radius: 2%;
    transition: all 0.3s;
    text-align: center;
}

.meBox:hover {
    width: 21rem;
    height: 26rem;
    margin: 95px 0 0 9.5%;
}

.headPhoto {
    width: 8rem;
    height: 8rem;
    background: url(https://q1.qlogo.cn/g?b=qq&nk=2043271366&s=640) no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: -15%;
    left: 50%;
    margin-left: -4rem;
    transition: all 0.3s;
}

.meBox:hover .headPhoto {
    width: 9rem;
    height: 9rem;
    margin: -0.5rem 0 0 -4.5rem;
    transform: rotate(360deg);
}

.headPhoto:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.meBox-title {
    width: auto;
    margin: 0 auto;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.meBox-title p {
    font-size: 2rem;
    width: 12ch;
    overflow: hidden;
    margin:-45px auto -10px;
    transition: all 0.3s;
}

.meBox:hover .meBox-title p {
    font-size: 1.8rem;
}

.meBox-title .fg {
    width: 80%;
    height: 2px;
    background-image: linear-gradient(to left, #3498db, #2980b9);
    margin: 5% 0 0 10%;
}

.meBox-text {
    width: 80%;
    height: 45%;
    overflow: hidden;
    text-align: center;
    color: rgb(70, 70, 70);
    animation-name: meBox-text;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 5% 0 0 10%;
    transition: all 0.3s;
}

.meBox-text p {
    margin-top: 5px;
}

.meBox:hover .meBox-text {
    font-size: 1.05rem;
}

@keyframes meBox-text {
    0% {
        transform: translateY(50px);
        color: white;
    }

    100% {
        transform: translateY(0);
        color: rgb(70, 70, 70);
    }
}

.meBox-Button {
    width: 100%;
}

.meBox-Button a {
    display: inline-block;
    float: left;
    width: 158px;
    height: 50px;
    margin-top: 13px;
    line-height: 50px;
    text-decoration: none;
    color: gray;
    transition: all 0.3s;
}

.meBox-Button a:hover {
    color: rgb(0, 132, 255);
    font-size: 1.2rem;
}

.meBox:hover .meBox-Button a {
    width: 165px;
    margin-top: 10px;
}

#explorerBox {
    width: 710px;
    height: 550px;
    float: right;
    margin-right: 5%;
    /* background-color: green; */
}

.explorer {
    width: 600px;
    height: 400px;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s;
    font-size: 14px;
    color: rgb(88, 89, 92);
    position: relative;
    top: 0;
    left: 0;
}

.explorer:hover {
    width: 610px;
    height: 410px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: -5px 0 0 -5px;
    z-index: 1;
}

.explorer .title {
    width: 100%;
    height: 25px;
	background-color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    line-height: 25px;
}

.explorer .title span {
    display: inline-block;
	vertical-align: middle;
	margin: 0 2ch 0;
	font-size: 1ch
    /* background-color: red; */
}

.explorer .top {
    width: 100%;
    height: 25px;
	background-color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    line-height: 25px;
}

.explorer .top span {
    display: inline-block;
	vertical-align: middle;
	padding:0 1ch;
	font-size: 1ch
    /* background-color: red; */
}

.explorer .top span:hover {
    background-color: #f1f2f6;
}

.explorer .click {
    margin-right: 10px;
    float: right;
}

.explorer .click div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px 0 0 10px;
    float: right;
}

.explorer .click .red {
    background-color: #ff1b22;
    box-shadow: 0 0 1px #ff1b22;
}

.explorer .click .red:hover {
    background-color: #ff6268;
    box-shadow: 0 0 3px #ff1b22;
}

.explorer .click .light {
    background-color: #ced6e0;
    box-shadow: 0 0 1px #ced6e0;
}

.explorer .click .light:hover {
    background-color: #dfe4ea;
    box-shadow: 0 0 3px #ced6e0;
}

.explorerData {
    padding-top: 10px;
    padding-left: 15px;
}

#footer {
    width: 100%;
    color: white;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
    /* background-color: blue; */
}

#footer a {
    text-decoration: none;
    color: white;
}

#footer a:hover {
    color: rgb(0, 81, 255);
}

/* 自适应 */
@media screen and (max-width: 1250px)
{
    .meBox {
        margin-left: 3%;
    }

    .meBox:hover {
        width: 21rem;
        height: 26rem;
        margin: 95px 0 0 2.5%;
    }

    #explorerBox {
        margin-right: 3%;
    }
}

@media screen and (max-width: 1110px)
{
    .meBox {
        float: none;
        margin: 100px auto 100px;
    }

    .meBox:hover {
        width: 21rem;
        height: 26rem;
        margin: 95px auto 95px;
    }

    #explorerBox {
        float: none;
        margin: 0 auto 100px;
    }
}

@media screen and (max-width: 768px)
{
    .meBox {
        width: 300px;
    }

    .meBox:hover {
        width: 300px;
        height: 25rem;
        margin: 100px auto 100px;
    }

    .meBox-Button a:hover {
        color: rgb(0, 132, 255);
    }
    
    .meBox:hover .meBox-Button a {
        width: 150px;
        margin-top: 0;
    }

    .meBox:hover .meBox-title p {
        font-size: 1.2rem;
    }

    .meBox:hover .headPhoto {
        width: 8rem;
        height: 8rem;
        margin: -0.5rem 0 0 -4rem;
        transform: rotate(360deg);
    }

    .meBox:hover .meBox-text {
        font-size: 1rem;
    }

    .meBox-Button a {
        width: 150px;
    }

    #explorerBox {
        width: 100%;
        height: 850px;
    }

    .explorer {
        width: 90%;
        margin: 0 auto;
    }

    .explorer:hover {
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        z-index: 1;
    }
}
